.reactable .scroll-bar {
  position: absolute;
  width: 20px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.reactable .scroll-bar .scroll-bar-handle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 20px;
  min-height: 10px;
}
