.reactable .SearchControl {
}

.reactable .SearchControl .attribute {
  position: relative;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin: 10px 0;
}

.reactable .SearchControl .filter {
  margin-bottom: 10px;
}

.reactable .SearchControl .filter label {
  font-size: 14px;
  font-weight: bold;
}

.reactable .SearchControl .attribute-filter {
  padding: 5px;
}

.reactable .SearchControl button.clear {
  position: absolute;
  right: 5px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  padding: 0;
  color: #000;
  background-color: #fff;
}

.reactable .SearchControl button.clear:after {
  content: '✖'
}

input::-ms-clear {
  display: none;
}

.reactable .SearchControl ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.reactable .SearchControl ul li {
  user-select: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px;
  margin: 0;
}

.reactable .SearchControl ul li label {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-left: 5px;
  width: 80%;
  font-weight: normal !important;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reactable .SearchControl ul li input[type=checkbox] {
  float: right;
}

.reactable .SearchControl select {
  height: 30px;
}

.reactable .SearchControl input {
  height: 25px;
  padding: 3px;
}

.search-presets {
  display: flex;
}

.search-presets-dropdown {
  padding: 5px;
  width: 80%;
}

.search-presets-reset {
  padding: 5px;
  width: 20%;
}

.search-presets-reset button, button.download-xlsx {
  background-color: #86c105;
  color: #fff;
  border-radius: 999em
}

.search-presets-dropdown select {
  width: 100%;
}
