.reactable .control.box {
  width: 300px;
  top: 0;
  right: 0;
  box-shadow: -10px 0 10px #ccc;
}

.reactable .control .body {
  overflow: scroll;
  height: calc(100% - 30px);
  padding: 10px;
}

.reactable .control .body .filter {
  margin-bottom: 10px;
}

.reactable .control .body .filter label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
