.reactable .SearchControl .attribute {
  height: 30px;
  background: #e2e2e2;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
}

.reactable .SearchControl .filter {
  margin-bottom: 10px;
}

.reactable .SearchControl .filter label {
  font-size: 14px;
  font-weight: bold;
}

.reactable .SearchControl .attribute {
  position: relative;
}

.reactable .SearchControl .attribute-filter {
  padding: 5px;
}

.reactable .SearchControl button.clear {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  padding: 0;
  border-style: none;
  background-color: #fff;
}

.reactable .SearchControl button.clear:after {
  content: '✖'
}
