.reactable-sidebar {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 332px;
  transition: 0.2s;
  box-shadow: 0px 0px 10px #333;
  background-color: #fff;
}

.reactable-sidebar.slide-in {
  transition: 0.2s;
  right: -300px;
}

.reactable-sidebar .reactable-sidebar-slide {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  background-color: #32414f;
}

.reactable-sidebar .reactable-sidebar-slide .reactable-sidebar-title {
  position: relative;
  box-sizing: border-box;
  width: 32px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
}

.reactable-title-icon {
  margin: auto;
  width: 23px;
  height: 23px
}

.reactable-sidebar .reactable-sidebar-slide .reactable-sidebar-title.current {
  background-color: #ffff;
}


.reactable-sidebar .reactable-panel {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 100%;
  left: 40px
}


.reactable-sidebar .reactable-panel .reactable-panel-body {
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  height: 100%;
  overflow: auto;
}



button.reactable-sidebar-slide-toggle {
  margin-top: 100px;
}

.reactable-sidebar .reactable-sidebar-slide .reactable-title-badge {
  pointer-events: none;
  position: absolute;
  top: 1px;
  right: 2px;
  padding: 0 4px;
  color: #fff;
  min-width: 7px;
  border-radius: 15px;
  text-align: center;
  font-size: x-small;
  font-weight: bold;
  box-shadow: 1px 1px 1px #000;
  background-color: #86c105;
}
