.reactable-sidebar {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 330px;
  transition: 0.2s;
  box-shadow: 0px 0px 10px #333;
  background-color: #fff;
}

.reactable-sidebar.slide-in {
  transition: 0.2s;
  right: -300px;
}

.reactable-sidebar .slide {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: #32414f;
}

.reactable-sidebar .slide .title {
  box-sizing: border-box;
  width: 32px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
}

.reactable-sidebar .slide .title.current {
  background-color: #ffff;
}


.reactable-sidebar .reactable-panel {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 100%;
  left: 30px
}


.reactable-sidebar .reactable-panel .body {
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  overflow: auto;
}



.reactable-sidebar button.slide-toggle {
  bottom: 0;
  position: absolute;
}

.reactable-sidebar .title .badge {
  pointer-events: none;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  font-size: smaller;
  position: absolute;
  top: 0;
  left: 10px;
  width: 15px;
  box-shadow: 0px 0px 5px #000;
  background-color: red;
}
