.reactable {
  position: relative;
  border: 1px solid #e2e2e2;
}

.reactable button:disabled {
  opacity: 0.5
}

.reactable table {
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
  font-family: inherit;
  outline-style: solid;
  outline-width: thin;
  outline-color: #e2e2e2;
  background-color: #fff;
}

.reactable table.extendable {
  overflow-x: auto;
  display: block;
  width: fit-content;
}

.reactable tbody {
  outline: none;
}

.reactable table th {
  background-color: #f2f2f2;
  padding: 0 10px 0 5px;
  border: 1px solid #e2e2e2;
  border-bottom-color: lightgray;
  border-bottom-width: 2px;
  text-align: left;
  overflow: hidden;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: middle;
}

.reactable table th.sortable {
  position: relative;
}


.reactable table th.sortable::after {
  content: '';
  height: 30px;
  width: 20px;
  dsiplay: block;
  margin: 0;
  position: absolute;
  top: 0;
  right: 5px;
  display: block;
  /* background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right !important; */
}

.reactable table th.sortable.asc::after {
	background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right !important;
}

.reactable table th.sortable.desc::after {
	background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right !important;
}


.reactable table th.sorted {
  background-color: #e6e6e6;
}

.reactable td button, .reactable th button  {
  background-color: buttonface;
  cursor: default;
  color: buttontext;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: center;
}


.reactable table td {
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-width: 1px;
  border-color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}

.reactable table tr.record td {
  border: 1px solid #e2e2e2;
}

.reactable table td.number, .reactable table td.date, .reactable table td.datetime, .reactable table td.time,  .reactable table td.duration {
  text-align: right;
  color: darkblue;
}

.reactable table td.text:empty::after {
  content: 'EMPTY';
  color: gray;
}

.reactable table td.null::after {
  content: 'NULL' !important;
  color: gray;
}

.reactable table td.boolean {
  text-align: center;
}

.reactable table tr.record:nth-child(even) td {
  background-color: #f2f2f2
}

.reactable table tr.record:nth-child(odd) td {
  background-color: #fff
}

.loader {
  border: 4px solid #fff;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
