.reactable .control {
  font-family: monospace;
}

.reactable .control label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.reactable .control input[type=text], .reactable .control input[type=number], .reactable .control input[type=date] {
  height: 20px;
  border-radius: none;
}

.reactable .control input[type=number] {
  width: 60px;
}

.reactable .control-toggle {
  position: absolute;
  bottom:  0;
  right: 0;
  height: 30px;
  width: 30px;
}

.reactable .control-toggle button {
  font-size: 20px;
  border-style: none !important;
  background-color: transparent;
}

.reactable .control-toggle button {
  border: 1px solid gray;
}

.reactable .table-wrapper {
  position: relative;
  background: white;
}

.reactable .table-wrapper .scroll-bar {
  position: absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: red;
  right: 0;
  opacity: 0.1
}

.reactable .scroll-bar-handle {
  background: blue;
}

.reactable table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
  font-family: monospace;
  outline-style: solid;
  outline-width: thin;
  outline-color: #e2e2e2;
  background-color: #fff;
}

.reactable table th {
  background-color: #f2f2f2;
  padding: 0 10px 0 5px;
  border: 1px solid #e2e2e2;
  border-bottom-color: lightgray;
  border-bottom-width: 2px;
  text-align: left;
  overflow: hidden;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
}

.reactable table th.sorted {
  background-color: #e6e6e6;
}

.reactable table th.sorted.asc::after {
  content: '⇡';
}

.reactable table th.sorted.desc::after {
  content: '⇣';
}

.reactable table td {
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-width: 1px;
  border-color: #fff;
  box-sizing: border-box;
}

.reactable table:focus, .reactable table:hover { outline-color: gray }

.reactable table tr.record td {
  border: 1px solid #e2e2e2;
}

.reactable table td.integer, .reactable td.float, .reactable table td.date, .reactable table td.datetime {
  text-align: right;
  color: darkblue;
}

.reactable table td.text:empty::after {
  content: 'EMPTY';
  color: gray;
}


.reactable table td.null::after {
  content: 'NULL' !important;
  color: gray;
}

.reactable table td.boolean {
  text-align: center;
}

.reactable table tr.record:nth-child(even) td {
  background-color: #f2f2f2
}

.reactable table tr.record:nth-child(odd) td {
  background-color: #fff
}
